:root {
    --dark: #282a3a;
    --darker: #1e1f2b;
    --darkest: #161821;

    --darkest-border: #0c0d12;

    --dark-alpha: #1e1f2bbf;

    --light: #eaf2f1;
    --grey: #b1b9bd;
    --darkgrey: #53565f;

    --color-button-primary-back: #3b506e;
    --color-button-primary-text: #fff;
    --color-button-primary-border: #3b506e;
    --color-button-primary-back-hover: #4c6283;

    --button-back-color: #3f3e50;
    --button-border-color: var(--darkest);

    --link-color: #aee0f2;

    --color-label-main: #aee0f2;
    --color-label-visited: #e1f0b1;
    --color-label-text: #535c69;
    --color-label-text-visited: #668d13;
    --color-link: #88d8bd;

    --green: #82af4c;
    --red: #ff3c70;

    --system-image: repeating-linear-gradient(
        65deg,
        var(--darkest),
        var(--darkest) 10px,
        var(--darker) 10px,
        var(--darker) 20px
    );

    --tag-light-bg: #6a737f;
    --tag-light-color: #e6e7e9;
    --tag-secondary-bg: #bcedfc;
    --tag-secondary-color: #333;
}

.bx-im-messenger__content_container {
    background-color: var(--dark);
    --im-notification-item-content-more-users-dropdown-text-color: var(
        --color-link
    );
}
.bx-im-sidebar-header__scope,
.bx-im-sidebar-wrapper__scope,
.bx-im-sidebar__scope,
.bx-im-sidebar-detail-header__scope {
    --im-sidebar-header__background-color_container: var(--darker);
    --im-sidebar-header__background-color_left-border: var(--darkest);
    --im-sidebar-header__border-color_separator: var(--darkest);
    --im-sidebar-chat__background-color_container: var(--darker);
    --im-sidebar__background-color_box: var(--dark);
    --im-sidebar__background-color_detail-content: var(--darker);
    --im-sidebar-detail-header__border-color_separator: var(--darkest);
    color: var(--light);
}
.bx-im-message-status__scope,
.bx-im-sidebar-wrapper__container {
    border-left-color: var(--darkest);
}
.bx-im-sidebar__detail_container {
    border-left-color: var(--darkest);
}
.bx-im-button__container.--color-primary-border {
    --im-button__color: var(--grey);
    --im-button__color_hover: var(--light);
    --im-button__border-color: var(--grey);
    --im-button__border-color_hover: var(--grey);
}
.bx-im-sidebar-main-detail__user:hover {
    --im-sidebar-main-detail__background-color_user: var(--dark);
}
.bx-im-list-recent-item__balloon_container {
    text-transform: none;
    font-weight: 300;
}
.bx-im-sidebar-main-detail__user:before {
    --im-sidebar-main-detail__color_user-separator: transparent;
}
.bx-im-chat-title__text {
    color: var(--light);
}
.bx-im-content-notification-item-content__content-text {
    color: var(--grey);
}
.bx-im-content-notification-item__container:hover {
    background-color: var(--dark-alpha);
}
:root {
    --im-notification-panel-text-color: var(--light);
}
.bx-im-search-result__scope {
    --im-search-result__background-color_container: var(--darker);
}
.bx-im-list-recent__scope {
    --im-list-recent__background-color: var(--darker);
    --im-list-recent__background-color_calls-section: var(
        --color-button-primary-back-hover
    );
}
.bx-im-list-container-recent__scope {
    --im-list-container-recent__background-color: var(--darker);
}
.bx-im-list-container-recent__elements {
    background-color: var(--darker);
}
.bx-im-search-input__element {
    background-image: none;
    --im-search-input__font-color_primary: var(--light);
    color: var(--light);
}
.bx-im-search-input__element:active {
    background-color: var(--darkest);
}
.bx-im-messenger__list_container {
    border-color: var(--darkest);
}
.bx-im-list-recent__scope {
    --im-list-recent__background-color_hover: var(--dark);
}
.bx-im-navigation__container {
    background-color: var(--darker);
    background-image: none;
}
.bx-im-messenger__layout_container {
    border-left: 2px solid var(--darkest);
}
.bx-im-content-notification__header_filter-button,
.bx-im-content-notification__header_read-all-button {
    filter: invert(1);
}
.bx-im-chat-header__container,
.bx-im-content-chat__container {
    background-color: var(--dark);
    background-image: none;
}
.bx-im-chat-header__container {
    border-bottom: 1px solid var(--darkest);
}
.bx-im-message-base__container {
    --im-message-base__background-color: var(--darker);
}
.bx-im-content-chat__scope.bx-im-content-chat__container {
    background-image: none !important;
    background-color: transparent !important;
}
.bx-im-message-base__container.--opponent:first-child
    .bx-im-message-base__body:before {
    background-image: none;
}
.bx-im-message-base__text {
    --im-message-base__font-color_message: var(--grey);
}
.bx-im-message-base__date {
    color: var(--grey);
}
.bx-im-message-base__container.--system .bx-im-message-base__date {
    --im-message-base__font-color_message-system: var(--grey);
}
.bx-im-reaction-list__item {
    --im-reaction-list__background-color_item: var(--darkgrey);
    --im-reaction-list__font-color_counter: var(--light);
    --im-reaction-list__background-color_item-selected: var(
        --color-button-primary-back
    );
}
.bx-im-message-base__container.--self .bx-im-reaction-list__item {
    --im-reaction-list__background-color_item: var(--button-back-color);
}
.bx-im-reaction-selector__selector {
    background-color: var(--darkgrey);
}
.bx-im-send-panel__scope {
    --im-textarea__font-color_primary: var(--light);
    --im-textarea__font-color_placeholder: var(--darkgrey);
    --im-textarea__background-color: var(--darkest);
}
.bx-im-dialog-chat__pinned_container {
    background-color: var(--darker);
    border-color: var(--darkest);
}
.bx-im-dialog-chat__pinned_item {
    color: var(--darkgrey);
}
.bx-im-dialog-chat__pinned_unpin,
.bx-im-chat-header__icon,
.bx-im-list-container-recent__header-menu_icon,
.bx-im-content-notification-item-header__delete-button,
.bx-im-messenger__cross-icon,
.bx-im-sidebar-header__context-menu-icon {
    filter: brightness(3);
}
.bx-im-list-recent-item__wrap.--selected {
    background-color: var(--color-button-primary-back);
}
/*.bx-im-dialog-chat__new-message-block_text {
    background-color: var(--color-button-primary-back-hover);
    color: var(--light);
}*/
.bx-im-message-base__container.--self .bx-im-message-base__body {
    background-color: var(--color-button-primary-back);
}
.bx-im-message-base__container .bx-im-message-base__body.--transparent {
    background-color: transparent;
}
.bx-im-message-base__container.--self .bx-im-message-base__text {
    color: var(--color-button-primary-text);
}
.bx-im-message-base__container.bx-im-message-system__scope
    .bx-im-message-base__body {
    background-image: var(--system-image);
}
.bx-im-message-system__scope {
    --im-message-system__font-color_message-system: var(--grey);
}
.bx-im-dialog-chat__scroll-button,
.bx-im-content-notification-scroll-button__button {
    background-color: var(--darkest);
}
.bx-im-attach__content {
    color: var(--grey);
}
.bx-im-content-notification-item__container.--unread {
    background-color: var(--color-button-primary-back-hover);
}
.bx-im-messenger__container a {
    color: var(--color-link);
}
.bx-im-search-result-item__container {
    --im-search-result-item__background-color_container: var(--darker);
    --im-search-result-item__background-color_hover-container: var(--dark);
}
.bx-im-search-result-department-item__container {
    --im-search-result-department-item__background-color_container: var(
        --darker
    );
    --im-search-result-department-item__background-color_hover-container: var(
        --dark
    );
    color: var(--light);
}
.bx-im-mention,
.bx-im-content-notification-item-content__content-text .bx-im-mention {
    color: var(--color-link);
}
.bx-im-sidebar-info-preview__scope {
    --im-sidebar-info-preview__background-color_counter: var(
        --color-label-main
    );
    --im-sidebar-info-preview__color_counter: var(--color-label-text);
    --im-sidebar-info-preview__color_description: var(--grey);
}
.bx-im-sidebar-brief-preview__scope {
    --im-sidebar-brief-preview__color_not-active-title: var(--grey);
}
.bx-im-sidebar-file-preview-item__text {
    --im-sidebar-file-preview-item__color_item-text: var(--grey);
}
.bx-im-sidebar-file-preview-item__container:hover
    .bx-im-sidebar-file-preview-item__text {
    --im-color-palette-black-base: var(--light);
}
.bx-im-entity-selector-add-to-chat__scope {
    background-color: var(--darker);
    color: var(--light);
}
.bx-im-entity-selector-add-to-chat__scope .popup-window-titlebar-text {
    color: var(--light);
}
#popup-window-content-im-add-to-chat-popup {
    background-color: var(--darker) !important;
}
.bx-im-entity-selector-add-to-chat__scope .ui-tag-selector-outer-container {
    background-color: var(--dark);
    border-color: var(--darkest);
}
.bx-im-entity-selector-add-to-chat__scope .ui-tag-selector-add-button-caption {
    color: var(--light);
}
.bx-im-entity-selector-add-to-chat__scope .ui-tag-selector-text-box {
    background-color: var(--dark);
    color: var(--grey);
}
.bx-im-entity-selector-add-to-chat__shadow,
.bx-im-mention-popup-content__shadow {
    background: linear-gradient(
        180deg,
        var(--darker) 10.58%,
        rgba(255, 255, 255, 0.0001) 98.3%
    );
}
.bx-im-content-chat__start_message {
    --im-content-chat__background-color: transparent;
    --im-content-chat__background-url: none;
}
.bx-im-attach-rich__block {
    background-color: var(--dark);
    border-color: var(--darkest);
}
.bx-im-attach-rich__name {
    color: var(--light);
}
.bx-im-attach-image__source {
    border-color: var(--darkest);
}
.bx-im-messenger__scope.popup-window {
    background-color: var(--darker);
}
.bx-im-messenger__scope .menu-popup-item-text {
    color: var(--light) !important;
}
.bx-im-messenger__scope .menu-popup-item:hover,
.bx-im-messenger__scope .menu-popup-item.menu-popup-item-open {
    background-color: var(--darkest);
}
.bx-im-user-settings-popup__scope {
    --im-user-settings-popup__background-color: var(--dark);
    --im-user-settings-popup__font-color_secondary: var(--grey);
    --im-user-settings-popup__font-color_primary: var(--light);
}
.bx-im-user-settings-popup__list-item:not(.--disabled):hover {
    --im-user-settings-popup__background-color_item-hover: var(--darker);
}
.bx-im-user-settings-popup__list-item_icon {
    filter: brightness(2);
}
.bx-im-user-status-popup__text {
    --im-user-status-popup__font-color_text: var(--light);
}
.bx-im-user-status-popup__item:hover {
    --im-user-status-popup__background-color_item-hover: var(--darkest);
}
.bx-im-messenger__scope .popup-window-angly--arrow {
    background-color: var(--darker);
}
.bx-im-user-list-content__user-container:hover {
    --im-user-list-content__background-color_user: var(--darkest);
}
.bx-im-button__container:hover {
    --im-button__color_hover: var(--light);
}
.bx-im-message-base__container.--self:first-child
    .bx-im-message-base__body:before {
    background-image: none;
}
.bx-im-media-file__name {
    color: var(--light);
}
.bx-im-media-file__scope {
    --im-media-file__font-color_file-size: var(--grey);
}
.bx-im-message-base__edit-mark {
    --im-message-base__font-color_edit-mark: var(--grey);
}
.bx-im-message-content-code {
    color: var(--grey);
}
.bx-im-elements-tabs__container.--gray {
    --im-elements-tabs__background-color_container-gray-scheme: var(--darkest);
}
.bx-im-smile-popup__scope {
    --im-textarea-smile-popup__border-bottom-color_container: var(--darkest);
}
.bx-im-elements-tabs__item.--selected .bx-im-elements-tabs__item-title {
    color: var(--light);
}
.bx-im-smiles-content__sets {
    --im-color-palette-gray-04: var(--darkest);
}
.bx-im-message-base__container:last-child .bx-im-message-base__body:before {
    filter: invert(0.88);
}
.bx-im-list-recent__pinned_scope {
    --im-list-recent__background-color: var(--dark);
    --im-list-recent__background-color_hover: var(--darker);
}
.bx-im-list-recent__pinned_container {
    --im-list-recent__background-color_pinned-section: var(--dark);
    --im-list-recent__border-color_pinned-section: var(--darkest);
}
.bx-im-menu__container {
    --im-menu__background-color: var(--darkest);
}
.bx-im-menu-item__container {
    --im-menu-item__background-color_hover: var(--dark);
    --im-menu-item__font-color_title: var(--light);
    --im-menu-item__font-color_subtitle: var(--grey);
}
.bx-im-market-apps-panel__scope {
    --im-market-apps-panel__border-color_container: var(--dark);
}
.bx-im-message-base__scope {
    --im-message-base__background-color_menu_hover: var(--darkgrey);
    --im-message-base__padding-right_body: 9px;
    --im-message-base__padding-left_body: 9px;
}
.reaction-select-popup {
    background-image: var(--system-image);
}
.bx-im-sidebar-task-item__scope {
    --im-sidebar-task-item__background-color_container: var(--dark-alpha);
    --im-sidebar-task-item__color_task-title-text: var(--grey);
    --im-sidebar-task-item__color_task-title-text-hover: var(--light);
}
.bx-im-messenger__context-menu-icon {
    filter: brightness(2);
}
.bx-im-button__container.--color-primary-light {
    --im-button__background-color: var(--color-button-primary-back);
    --im-button__background-color_hover: var(--color-button-primary-back-hover);
    --im-button__border-color: var(--color-button-primary-border);
    --im-button__border-color_hover: var(--color-button-primary-border);
    --im-button__color: var(--grey);
}
.bx-im-button__container.--color-primary-border {
    --im-button__border-color: var(--color-button-primary-border);
    --im-button__border-color_hover: var(--color-button-primary-border);
}
.bx-im-message-quote__name-time {
    --bx-im-message-quote__color_time: var(--darkgrey);
}
.bx-im-smiles-content__gifs-gradient {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        var(--darkest) 100%
    );
}
.bx-im-dialog-chat-status__content {
    --im-dialog-chat-status__background-color: var(--dark-alpha);
    --im-dialog-chat-status__font-color: var(--grey);
}
.bx-im-dialog-chat-status__icon {
    filter: opacity(50%);
}

.bx-im-content-create-chat__scope {
    --im-content-create-chat__background-color_container: var(--darkest);
    --im-content-create-chat__background-color_buttons: var(--dark);
    --im-content-create-chat__font-color_input: var(--light);
    --im-content-create-chat__background-color_input-border: var(--dark);
    --im-content-create-chat__background-color_section: var(--dark);
    --im-content-create-chat__font-color_toggle-label: var(--grey);
}
.bx-im-content-create-chat__section_scope {
    --im-content-create-chat__background-color_folded-section: var(--darker);
    --im-content-create-chat__background-color_folded-section-hover: var(
        --dark
    );
    --im-content-create-chat__background-color_opened-section: var(--dark);
    --im-content-create-chat__font-color_opened-section: var(
        --color-button-primary-text
    );
    --im-content-create-chat__font-color_heading: var(--light);
}
.bx-im-content-create-chat__scope .ui-tag-selector-outer-container {
    background-color: var(--darker);
    border-color: var(--darkest);
}
.bx-im-content-create-chat__scope .ui-tag-selector-add-button-caption,
.ui-tag-selector-create-button-caption {
    color: var(--grey);
}
.bx-im-content-create-chat-settings__description {
    background-color: var(--darkest);
    color: var(--light);
    border-color: var(--darker);
}
.bx-im-message-default-content__scope {
    --im-message-default-content__font-color_message: var(--grey);
}
.bx-im-group-chat-promo__container {
    --im-group-chat-promo__background-color_title: var(--light);
    --im-group-chat-promo__background-color_content: var(--dark);
    --im-group-chat-promo__background-color_text: var(--grey);
}
.bx-im-dropdown__scope {
    --ui-color-palette-white-base: var(--darker);
    --ui-field-color-border-default: var(--darkest);
    --ui-color-palette-black-base: var(--grey);
}
.bx-im-message-base__container.--self .bx-im-message-default-content__text {
    --im-message-default-content__font-color_message: var(--light);
}
.bx-im-message-default-content__text {
    padding-right: 0;
}

.bx-im-content-chat__textarea_placeholder {
    background-image: var(--system-image);
}
.bx-im-message-status__scope {
    --im-message-status__font-color_date: var(--grey);
    --im-message-status__font-color_edit-mark: var(--darkgrey);
}
.bx-im-message-status__icon.--sent {
    filter: brightness(3);
}
.bx-im-list-recent-item__balloon_container.--vacation {
    --im-list-recent__background-color_vacation: var(
        --color-button-primary-back
    );
    --im-list-recent__font-color_vacation: var(--color-button-primary-text);
}
.bx-im-list-recent-item__balloon_container.--birthday {
    --im-list-recent__background-color_birthday: var(--color-label-main);
    --im-list-recent__font-color_birthday: var(--color-label-text);
}
.bx-im-base-file-item__content {
    color: var(--grey);
    --im-media-file__font-color_file-size: var(--grey);
}
.bx-im-search-experimental__scope {
    --im-search-experimental__background-color_container: transparent;
}
.bx-im-search-experimental-item__scope {
    --im-search-experimental-item__background-color_container: transparent;
    --im-search-experimental-item__background-color_hover-container: var(
        --dark
    );
    --im-search-experimental-item__background-color_highlight: var(
        --color-label-visited
    );
}
.bx-im-message-call-invite__scope {
    --im-message-chat-creation__font-color_title: var(--light);
    --im-message-chat-creation__font-color_description: var(--grey);
}
.bx-im-mention-item__scope {
    --im-mention-item__background-color_container: var(--darker);
    --im-mention-item__background-color_hover-container: var(--dark);
}
.bx-im-base-file-item__scope {
    --im-media-file__color_file-name: var(--grey);
}
.bx-im-base-file-item__download-icon {
    filter: brightness(3);
}
.bx-im-settings-section-list__container {
    --im-settings-section-list__background-color_content: var(--darker);
    --im-settings-section-list__font-color_text: var(--light);
    --im-settings-section-list__background-color_active: var(
        --color-button-primary-back
    );
    --im-settings-section-list__background-color_hover: var(--dark);
    --im-settings-section-list__font-color_icon: var(--grey);
    --im-settings-section-list__font-color_icon-hover: var(--light);
}
.bx-im-content-settings__container {
    --im-content-settings__background-color_border: var(--darkest);
}
.bx-im-settings-section-content__container {
    --im-settings-section-content__background-color_header: var(--dark);
    --im-settings-section-content__background-color_icon: var(--light);
    --im-settings-section-content__font-color_header: var(--light);
    --im-settings-section-content__background-color_body-background: var(
        --dark
    );
    --im-settings-section-content__background-color_body: var(--darker);
    --im-settings-section-content__font-color_block-header: var(--grey);
    --im-settings-section_content__font-color_label: var(--grey);
}
.bx-im-settings-appearance__demo-chat_container {
    background-color: var(--dark) !important;
    background-image: none !important;
}
.bx-im-settings-radio__label_title {
    color: var(--light);
}
.bx-im-settings-radio__label_subtitle {
    color: var(--grey);
}
.bx-im-settings-section-content__header_icon {
    opacity: 0.7;
}
.bx-im-search-input__scope {
    --im-search-input__background-color_input-active: var(--darkest);
    --im-search-input__border-color_active-input: var(
        --color-button-primary-back
    );
}
.bx-im-sidebar-search-header__scope {
    --im-sidebar-search-header__border-color_separator: var(--darkest);
}
.bx-im-message-search-item__scope {
    --im-sidebar-message-search-detail__background-color_item: var(--dark);
    --im-sidebar-message-search-detail__color_message-text: var(--grey);
    --im-sidebar-message-search-detail__color_highlight: var(--dark);
    --im-sidebar-message-search-detail__background-color_highlight: var(
        --color-label-visited
    );
}
.bx-im-message-quote {
    background-color: var(--button-back-color);
    --bx-im-message-quote__color: var(--grey);
    --bx-im-message-quote-with-context__border-color: var(
        --button-border-color
    );
    padding-right: 0.6em;
    border-radius: 5px;
}
.bx-im-message-base__container.--self .bx-im-message-quote {
    background-color: var(--color-button-primary-back-hover);
    --bx-im-message-quote__color: var(--color-button-primary-text);
    --bx-im-message-quote-with-context__border-color: var(--dark-alpha);
    padding-right: 0.6em;
    border-radius: 5px;
}
.bx-im-message-quote__wrap::before {
    left: 3px;
    top: 3px;
    height: calc(100% - 6px);
}
.bx-im-chat-info-content__buttons-container {
    --im-chat-info-content__separator-color: var(--dark);
}
.bx-im-content-notification-item__container:before {
    --im-notification-item-separator-color: var(--darkest);
    --im-notification-item-separator-opacity: 1;
}
.bx-im-list-recent-item__wrap.--selected
    .bx-im-list-recent-item__counter_number {
    --im-color-palette-white-base: var(--darkgrey);
}
.bx-im-list-recent-item__counter_number {
    --im-list-recent__background-color_counter: var(--tag-secondary-bg);
    --im-list-recent__font-color_counter: var(--tag-secondary-color);
}
.bx-im-list-recent-item__counter_number.--muted {
    --im-list-recent__background-color_muted: var(--tag-light-bg);
    --im-list-recent__font-color_counter: var(--tag-light-color);
}

.bx-im-scroll-with-gradient__gradient {
    background: linear-gradient(
        180deg,
        var(--darkest) 10.58%,
        rgb(255 255 255 / 0.01%) 98.3%
    );
}
.bx-im-mention-content-footer__scope {
    --im-mention-content-footer__background-color_container: var(--darkest);
    --im-mention-content-footer__color_control-description: var(--grey);
    --im-mention-content-footer__color_control-key: var(--light);
}
.bx-im-dialog-chat__scope {
    --im-dialog-chat__background-color_new-message: var(
        --color-button-primary-back
    );
    --im-dialog-chat__font-color_new-message: var(--light);
}

/*copilot*/
.bx-im-list-copilot__scope {
    --im-list-copilot__background-color: var(--darker);
    --im-list-copilot__background-color_pinned-section: var(--dark);
    --im-list-copilot__background-color_pinned-section-border: var(--darkest);
}
.bx-im-list-copilot__pinned_container .bx-im-list-copilot-item__wrap {
    --im-list-copilot-item__background-color_wrap-hover: var(--darker);
}
.bx-im-list-container-copilot__scope {
    --im-list-container-copilot__background-color: var(--darker);
    --im-list-container-copilot__font-color_header-title: var(--light);
}
.bx-im-content-copilot__container {
    background-image: none !important;
    background-color: transparent !important;
}
.bx-im-copilot-header__container {
    background-color: var(--dark);
}
.bx-im-list-copilot-item__wrap {
    --im-list-copilot-item__background-color_wrap: var(--darker);
    --im-list-copilot-item__background-color_wrap-hover: var(--dark);
}
.bx-im-message-copilot-creation__container {
    --im-message-copilot-creation__background-color_action-hover: var(
        --color-button-primary-back
    );
    --im-message-copilot-creation__font-color_text-hover: var(--light);
    --im-message-copilot-creation__background-color_action-border: var(
        --color-button-primary-border
    );
}
