:root {
	--left-menu-bg: var(--darkest);
	--left-menu-hover-bg: var(--darker);
	--main-bg: var(--darker);
	--chat-enabled: var(--message-self-bg);
	--chat-picked: var(--darkest);
	--chat-hover: var(--dark);
	--search-bg: var(--darkest);
	--new-chat-button-bg: var(--color-button-primary-back);
	--font-main: var(--light);
	--font-secondary: var(--grey);
	--font-thirdly: #bdc1c6;
	--font-highlighted: var(--link-color);
	--message-container-bg: var(--darkest);
	--message-bg: var(--dark);
	--message-self-bg: var(--color-button-primary-back);
	--message-self-reply-bg: var(--color-button-primary-back-hover);
	--font-side-main: var(--grey);
	--message-pinned-bg: var(--darker);
	--message-pinned-border-bg: var(--darkest);
	--message-input-bg: var(--darkest);
	--message-input-border-bg: var(--dark);
	--file-border-bg: var(--darkgrey);
	--sidebar-counter-bg: var(--tag-light-bg);
	--sidebar-bg: var(--darkest);
	--new-messages-delimiter-bg: var(--chat-enabled);
	--reaction-bg: #ffffff17;
	--video-button-bg: #3c7487;
	--video-button-bg-hover: #4c96af;


	--dark: #282a3a;
	--darker: #1e1f2b;
	--darkest: #161821;

	--darkest-border: #0c0d12;

	--dark-alpha: #1e1f2bbf;

	--light: #eaf2f1;
	--grey: #b1b9bd;
	--darkgrey: #53565f;

	--color-button-primary-back: #3b506e;
	--color-button-primary-text: #fff;
	--color-button-primary-border: #3b506e;
	--color-button-primary-back-hover: #4c6283;

	--button-back-color: #3f3e50;
	--button-border-color: var(--darkest);

	--link-color: #aee0f2;

	--color-label-main: #aee0f2;
	--color-label-visited: #e1f0b1;
	--color-label-text: #535c69;
	--color-label-text-visited: #668d13;
	--color-link: #88d8bd;

	--green: #82af4c;
	--red: #ff3c70;

	--system-image: repeating-linear-gradient(
        65deg,
        var(--darkest),
        var(--darkest) 10px,
        var(--darker) 10px,
        var(--darker) 20px
    );

	--tag-light-bg: #6a737f;
	--tag-light-color: #e6e7e9;
	--tag-secondary-bg: #bcedfc;
	--tag-secondary-color: #333;
}

.bx-im-list-recent-create-chat__container {
	--im-list-recent-create-chat__background-color_not-active: var(--chat-picked);
	--im-list-recent-create-chat__font-color_header: var(--font-main);
	--im-list-recent__font-color_message: var(--font-secondary);
}
.bx-im-list-recent-create-chat__container .bx-im-list-recent-item__wrap:not(.--selected) .bx-im-list-recent-create-chat__header {
	--im-list-recent-create-chat__font-color_header: var(--font-main);
}
.bx-im-chat-header__scope {
	--im-chat-header__background-color: var(--main-bg);
}
.bx-im-chat-header__container {
	background-color: var(--im-chat-header__background-color);
}
.bx-im-content-notification__elements-container {
	background-color: var(--left-menu-bg);
	--im-notification-item-unread-background-color: var(--chat-enabled);
	--im-notification-item-hovered-background-color: var(--main-bg);
	--im-notification-item-content-more-users-dropdown-text-color: var(--font-highlighted);
}
.bx-im-content-notification__container {
	--im-notification-content-background-color: var(--left-menu-bg);
	--im-notification-panel-border-bottom-color: var(--left-menu-bg);
	--im-notification-panel-text-color:var(--font-main);
}
.bx-im-content-notification-item__container {
	--im-notification-item-background-color: var(--main-bg);
	--im-notification-item-hovered-background-color: var(--chat-hover);
	--im-notification-item-unread-background-color: var(--chat-enabled);
	--im-notification-item-border-color: var(--message-container-bg);
	--im-notification-item-border-color-unread: var(--message-self-reply-bg);
	--im-notification-item-content-text-color: var(--font-thirdly);
}
.bx-im-content-notification-item-content__content-text {
	--font-secondary: var(--font-thirdly);
}
.bx-im-content-notification-item-header__title-container,
.bx-im-content-notification-item-header__title-container .bx-im-chat-title__text {
	--im-color-palette-black-base: var(--font-main);
}
.bx-im-content-notification-item__actions {
	--ui-color-white-base: var(--button-back-color);
}
.bx-im-sidebar-header__container {
	border-width: 0px;
	height: 64px;
	color: var(--font-main);
}
.bx-im-button__container.--color-primary {
	--im-button__background-color: var(--chat-enabled);
	--im-button__border-color: var(--chat-enabled);
}
.bx-im-button__container.--color-primary-border {
	--im-button__color: var(--font-thirdly);
	--im-button__color_hover: var(--font-main);
	--im-button__border-color: var(--font-secondary);
	--im-button__border-color_hover: var(--font-secondary);
}
.bx-im-button__container.--color-light-border {
	--im-button__border-color: var(--font-secondary);
	--im-button__color: var(--font-thirdly);
	--im-button__color_hover: var(--font-main);
}
.bx-im-sidebar-main-preview__scope {
	--im-sidebar-main-preview__border-color_avatar: var(--chat-hover);
}
.bx-im-sidebar-main-detail__scope {
	--im-sidebar-main-detail__background-color_user: var(--chat-hover);
}
.bx-im-list-recent-item__balloon_container {
	text-transform: none;
	font-weight: 300;
}
.bx-im-sidebar-main-detail__user:before {
	--im-sidebar-main-detail__color_user-separator: transparent;
}
.bx-im-chat-title__text {
	color: var(--font-main);
}
.bx-im-content-notification-item-content__content-text {
	color: var(--font-secondary);
}
:root {
	--im-notification-panel-text-color: var(--font-main);
}
.bx-im-chat-search__container {
	--im-chat-search__background-color_container: transparent;
}
.bx-im-search-item__scope {
	--im-search-item__background-color_container: transparent;
	--im-search-item__background-color_hover-container: var(--chat-hover);
}

.bx-im-list-container-task__container {
	--im-list-container-task__background-color: var(--main-bg);
	--im-list-container-task__font-color_header-title: var(--font-main);
}
.bx-im-list-task__container {
	--im-list-task__background-color: var(--main-bg);
}

.bx-im-list-recent__scope {
	--im-list-recent__background-color: var(--main-bg);
	--im-list-recent__background-color_calls-section: var(--color-button-primary-back-hover);
	--im-list-recent__background-color_hover: var(--chat-hover);
	--im-list-recent__background-color_selected: var(--chat-enabled);
	--im-list-recent__background-color_vacation: var(--message-self-reply-bg);
	--im-list-recent__font-color_vacation: var(--font-thirdly);
	--im-list-recent__background-color_birthday: var(--video-button-bg);
	--im-list-recent__font-color_birthday: var(--font-main);
}
.bx-im-list-container-recent__scope {
	--im-list-container-recent__background-color: var(--main-bg);
	--im-list-container-recent__background-color_create-chat: var(--new-chat-button-bg);
}
.bx-im-list-recent__pinned_scope {
	--im-list-recent__background-color: transparent;
	--im-list-recent__background-color_hover: var(--chat-hover);
}
.bx-im-list-recent__pinned_container {
	--im-list-recent__background-color_pinned-section: var(--chat-picked);
	--im-list-recent__border-color_pinned-section: transparent;
}
/************/
.bx-im-list-recent__container {
	--im-list-recent__background-color: var(--main-bg);
	--im-list-recent__background-color_selected: var(--chat-enabled);
	--im-list-recent__background-color_pinned-item: transparent;
	--im-list-recent__background-color_pinned-item_hover: var(--chat-hover);
}
.bx-im-list-recent-item__wrap {
	--im-list-recent__background-color_selected: var(--chat-enabled);
	--im-list-recent__font-color_message: var(--font-secondary);
	--im-list-recent-item__background-color: transparent;
	--im-list-recent-item__background-color_hover: var(--chat-hover);
	--im-list-recent__font-color_draft: var(--red);
}
.bx-im-search-input__element {
	background-image: none;
	color: var(--font-main);
	outline: none;
}
.bx-im-search-input__element:active {
	background-color: var(--darkest);
}
.bx-im-messenger__list_container {
	border-width: 0px;
}
.bx-im-navigation__container {
	--im-navigation__background-color_hover: var(--left-menu-hover-bg);
	--im-navigation__background-color: var(--left-menu-bg);
}
.bx-im-navigation__shadow {
	--degree: 180deg;
	background-image: linear-gradient(var(--degree), var(--chat-hover) 0%, var(--chat-hover) 50.28%, rgba(66, 74, 84, 0) 100%) !important;
}
.bx-im-navigation__shadow.--bottom {
	--degree: 0deg;
}
.bx-im-content-notification__header_filter-button,
.bx-im-content-notification__header_read-all-button {
	filter: invert(1);
}
.bx-im-content-chat-start__content {
	--im-content-chat__background-color_content: rgba(var(--left-menu-bg), 0.5);
}
.bx-im-content-chat__scope.bx-im-content-chat__container {
	background-size: auto, 0 !important;
	background-color: 	var(--message-container-bg) !important;
	background-blend-mode: soft-light;
}
.bx-im-message-base__container.--opponent:first-child .bx-im-message-base__body:before {
	background-image: none;
}
.bx-im-message-base__text {
	--im-message-base__font-color_message: var(--font-secondary);
}
.bx-im-message-base__date {
	color: var(--font-secondary);
}
.bx-im-message-base__container.--system .bx-im-message-base__date {
	--im-message-base__font-color_message-system: var(--font-secondary);
}
.bx-im-reaction-list__item {
	--im-reaction-list__background-color_item: var(--reaction-bg);
	--im-reaction-list__font-color_counter: var(--font-main);
	--im-reaction-list__background-color_item-selected: var(--message-self-bg);
}
.bx-im-message-base__container.--self .bx-im-reaction-list__item {
	--im-reaction-list__background-color_item: var(--reaction-bg);
}
.bx-im-reaction-selector__selector {
	background-color: var(--darkgrey);
}
.bx-im-send-panel__scope {
	--im-textarea__font-color_primary: var(--font-main);
	--im-textarea__font-color_placeholder: var(--darkgrey);
	--im-textarea__background-color: var(--message-input-bg);
}
.bx-im-textarea__container {
	border: 1px solid var(--message-input-border-bg);
}
.bx-im-sidebar-file-preview-item__scope {
	--im-sidebar-file-preview-item__border-color_preview-box: var(--file-border-bg);
}
.bx-im-sidebar-file-preview__header_container.--active .bx-im-sidebar-file-preview__title-text {
	color: var(--font-side-main);
}
.bx-im-sidebar-chat-description__container {
	--im-sidebar-info-preview__color_description: var(--font-side-main);
	--im-sidebar-info-preview__color_show-full-description: var(--link-color);
}
.bx-im-sidebar-chat-favourites__container {
	--im-sidebar-chat-favourites__color_counter: var(--font-main);
	--im-sidebar-chat-favourites__background-color_counter: var(--message-self-bg);
}
.bx-im-sidebar-chat-links__container {
	--im-sidebar-chat-links__color_counter: var(--font-main);
	--im-sidebar-chat-links__background-color_counter: var(--message-self-bg);
}
.bx-im-sidebar-chat-members-avatars__container {
	--im-sidebar-chat-members-avatars__border-color_avatar: var(--message-self-bg);
}
.bx-im-dialog-chat__float-button {
	--im-color-palette-white-base: var(--left-menu-bg);
}
.bx-im-dialog-chat__pinned_counter_control {
	border-color: var(--file-border-bg);
	color: var(--font-main);
}
.bx-im-content-notification-item-header__title-text {
	color: var(--font-highlighted);
}
.bx-im-dialog-chat__pinned_unpin,
.bx-im-chat-header__icon,
.bx-im-list-container-recent__header-menu_icon,
.bx-im-content-notification-item-header__delete-button,
.bx-im-messenger__cross-icon,
.bx-im-sidebar-header__context-menu-icon {
	filter: brightness(3);
}
.bx-im-chat-header__icon.--search {
	opacity: 0.4;
}
.bx-im-chat-header__icon.--panel.--active {
	filter: none;
}
.bx-im-message-base__container .bx-im-message-base__body.--transparent {
	background-color: transparent;
}
.bx-im-message-base__container.--self .bx-im-message-base__text {
	color: var(--color-button-primary-text);
}
.bx-im-message-base__container.bx-im-message-system__scope .bx-im-message-base__body {
	background-image: var(--system-image);
}
.bx-im-message-system__scope {
	--im-message-system__font-color_message-system: var(--font-secondary);
}
.bx-im-dialog-chat__scroll-button,
.bx-im-content-notification-scroll-button__button {
	background-color: var(--message-input-bg);
}
.bx-im-attach__content {
	color: var(--font-secondary);
}
.bx-im-messenger__container a {
	color: var(--color-link);
}
.bx-im-search-result-item__container {
	--im-search-result-item__background-color_container: transparent;
	--im-search-result-item__background-color_hover-container: var(--left-menu-hover-bg);
}
.bx-im-search-result-department-item__container {
	--im-search-result-department-item__background-color_container: var(
			--darker
	);
	--im-search-result-department-item__background-color_hover-container: var(
			--dark
	);
	color: var(--font-main);
}
.bx-im-mention,
.bx-im-content-notification-item-content__content-text .bx-im-mention {
	color: var(--color-link);
}
.bx-im-sidebar-info-preview__scope {
	--im-sidebar-info-preview__background-color_counter: var(--sidebar-counter-bg);
	--im-sidebar-info-preview__color_counter: var(--font-main);
	--im-sidebar-info-preview__color_description: var(--font-secondary);
}
.bx-im-sidebar-brief-preview__scope {
	--im-sidebar-brief-preview__color_not-active-title: var(--font-secondary);
}
.bx-im-sidebar-file-preview-item__text {
	--im-sidebar-file-preview-item__color_item-text: var(--font-secondary);
}
.bx-im-sidebar-file-preview-item__container:hover .bx-im-sidebar-file-preview-item__text {
	--im-color-palette-black-base: var(--font-main);
}
.bx-im-chat-forms-chat-members__container {
	--im-entity-selector-add-to-chat__color_show-history: var(--font-thirdly);
	--im-entity-selector-add-to-chat__color_popup-title: var(--font-main);
	--im-chat-forms-chat-members__background-color_container: var(--main-bg);
}

.bx-im-chat-forms-chat-members__container .popup-window-titlebar-text {
	color: var(--font-main);
}
#popup-window-content-im-add-to-chat-popup {
	background-color: var(--left-menu-bg) !important;
}
.bx-im-chat-forms-sections-owner__container .ui-tag-selector-outer-container,
.bx-im-chat-forms-sections-managers__container .ui-tag-selector-outer-container,
.bx-im-chat-forms-chat-members__container .ui-tag-selector-outer-container,
.bx-im-entity-selector-add-to-chat__container .ui-tag-selector-outer-container {
	background-color: var(--message-input-bg);
	border-color: var(--message-input-border-bg);
}
.bx-im-chat-forms-chat-members__container .ui-tag-selector-add-button-caption {
	color: var(--font-main);
}
.bx-im-chat-forms-chat-members__container .ui-tag-selector-text-box {
	background-color: var(--message-input-bg);
	color: var(--font-thirdly);
}
.bx-im-entity-selector-add-to-chat__shadow,
.bx-im-mention-popup-content__shadow {
	background: linear-gradient(
			180deg,
			var(--darker) 10.58%,
			rgba(255, 255, 255, 0.0001) 98.3%
	);
}
.bx-im-content-chat__start_message {
	--im-content-chat__background-color: transparent;
	--im-content-chat__background-url: none;
}
.bx-im-attach-rich__name {
	color: var(--font-main);
}
.bx-im-attach-image__source {
	border-color: var(--darkest);
}
.bx-im-messenger__scope.popup-window {
	background-color: var(--left-menu-bg);
}
.popup-window-delimiter:before {
	--popup-window-delimiter-bg-color: var(--chat-hover);
}
.popup-window-delimiter-text {
	background-color: transparent;
}
.popup-window-delimiter-section:before,
.popup-window-delimiter-section:after {
	--popup-window-delimiter-bg-color: var(--chat-hover);
}
.bx-im-messenger__scope .menu-popup-item-text {
	color: var(--font-main) !important;
}
.bx-im-messenger__scope .menu-popup-item:hover, .bx-im-messenger__scope .menu-popup-item.menu-popup-item-open {
	background-color: var(--left-menu-hover-bg);
}
.bx-im-user-settings-popup__scope {
	--im-user-settings-popup__background-color: var(--chat-picked);
	--im-user-settings-popup__font-color_secondary: var(--font-secondary);
	--im-user-settings-popup__font-color_primary: var(--font-main);
	--im-user-settings-popup__background-color_item-hover: var(--chat-hover);
}
.bx-im-user-status-popup__scope {
	--im-user-status-popup__background-color_item-hover: var(--chat-hover);
}
.bx-im-user-settings-popup__list-item_icon {
	filter: brightness(2);
}
.bx-im-user-status-popup__text {
	--im-user-status-popup__font-color_text: var(--font-main);
}
.bx-im-messenger__scope .popup-window-angly--arrow {
	background-color: var(--left-menu-bg);
}
.bx-im-user-list-content__user-container:hover {
	--im-user-list-content__background-color_user: var(--darkest);
}
.bx-im-message-base__container.--self:first-child .bx-im-message-base__body:before {
	background-image: none;
}
.bx-im-media-file__name {
	color: var(--font-main);
}
.bx-im-media-file__scope {
	--im-media-file__font-color_file-size: var(--font-secondary);
}
.bx-im-base-file-item__container {
	--im-base-file-item__color_file-name: var(--font-main);
	--im-base-file-item__color_file-size: var(--font-secondary);
}
.bx-im-message-base__edit-mark {
	--im-message-base__font-color_edit-mark: var(--font-secondary);
}
.bx-im-message-content-code {
	color: var(--font-secondary);
}
.bx-im-elements-tabs__scope {
	--im-elements-tabs__background-color_container-gray-scheme: var(--main-bg);
	--im-elements-tabs__background-color_selected-tab: var(--font-highlighted);
}
.bx-im-smile-popup__scope {
	--im-textarea-smile-popup__border-bottom-color_container: var(--new-messages-delimiter-bg);
}
.bx-im-elements-tabs__item.--selected .bx-im-elements-tabs__item-title {
	color: var(--font-main);
}
.bx-im-smiles-content__sets {
	--im-color-palette-gray-04: var(--main-bg);
}
.bx-im-message-copilot-base-message__container.bx-im-message-base__wrap.--opponent:last-child .bx-im-message-base__body:not(.--transparent)::before,
.bx-im-message-base__wrap.--opponent:last-child .bx-im-message-base__body:not(.--transparent)::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.202 9H4V0C3.854 2.61 2.008 5.042.354 6.718-.4 7.482.13 9 1.202 9z' fill='%23363c41'/%3E%3C/svg%3E")
}
.bx-im-content-chat__container.--center-align .bx-im-message-base__wrap.--self:last-child .bx-im-message-base__body:not(.--transparent)::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.799 9H0V0c.146 2.61 1.992 5.042 3.646 6.718C4.4 7.482 3.87 9 2.8 9z' fill='%23234a5e'/%3E%3C/svg%3E");
}
.bx-im-chat-title__scope {
	--im-chat-title__font-color: var(--font-main);
	--im-list-recent__font-color_message: var(--font-secondary);
}
.bx-im-menu__container {
	--im-menu__background-color: var(--left-menu-bg);
}
.bx-im-menu-item__container {
	--im-menu-item__background-color_hover: var(--left-menu-hover-bg);
	--im-menu-item__font-color_title: var(--font-main);
	--im-menu-item__font-color_subtitle: var(--font-secondary);
}
.bx-im-market-apps-panel__scope {
	--im-market-apps-panel__border-color_container: var(--dark);
}
.bx-im-message-base__scope {
	--im-message-base__background-color: var(--message-bg);
	--im-message-base__background-color_menu_hover: var(--darkgrey);
	--im-message-base__background-color_self: var(--message-self-bg);
	--bx-im-message-quote__color_name: var(--font-thirdly);
	--bx-im-message-quote__color_time: var(--font-secondary);
	--im-message-base__padding-right_body: 9px;
	--im-message-base__padding-left_body: 9px;
	--bx-im-mention__background-color_highlight: var(--color-button-primary-back-hover);
	--bx-im-mention__color_highlight: var(--color-button-primary-text);
	--im-message-base__background-color_message-select-highlight: var(--color-button-primary-back);
}
.reaction-select-popup {
	background-image: var(--system-image);
}
.bx-im-sidebar-task-item__scope {
	--im-sidebar-task-item__background-color_container: var(--dark-alpha);
	--im-sidebar-task-item__color_task-title-text: var(--font-secondary);
	--im-sidebar-task-item__color_task-title-text-hover: var(--font-main);
}
.bx-im-messenger__context-menu-icon {
	filter: brightness(2);
}
.bx-im-button__container.--color-primary-light {
	--im-button__background-color: var(--color-button-primary-back);
	--im-button__background-color_hover: var(--color-button-primary-back-hover);
	--im-button__border-color: var(--color-button-primary-border);
	--im-button__border-color_hover: var(--color-button-primary-border);
	--im-button__color: var(--font-thirdly);
	--im-button__color_hover: var(--font-main);
}
.bx-im-button__container.--color-primary-border {
	--im-button__border-color: var(--color-button-primary-border);
	--im-button__border-color_hover: var(--color-button-primary-border);
}
.bx-im-smiles-content__gifs-gradient {
	background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			var(--darkest) 100%
	);
}
.bx-im-dialog-chat-status__content {
	--im-dialog-chat-status__background-color: var(--chat-picked);
	--im-dialog-chat-status__font-color: var(--font-secondary);
}
.bx-im-dialog-chat-status__icon {
	filter: opacity(50%);
}

.bx-im-content-create-chat__scope {
	--im-content-create-chat__background-color_container: var(--left-menu-bg);
	--im-content-create-chat__background-color_buttons: var(--main-bg);
	--im-content-create-chat__font-color_input: var(--font-main);
	--im-content-create-chat__background-color_input-border: var(--left-menu-bg);
	--im-content-create-chat__background-color_section: var(--main-bg);
	--im-content-create-chat__font-color_toggle-label: var(--font-thirdly);
}
.bx-im-content-create-chat__section_scope {
	--im-content-create-chat__background-color_folded-section: var(--main-bg);
	--im-content-create-chat__background-color_folded-section-hover: var(--chat-hover);
	--im-content-create-chat__background-color_opened-section: var(--main-bg);
	--im-content-create-chat__font-color_opened-section: var(--font-main);
	--im-content-create-chat__font-color_section: var(--font-main);
	--im-content-create-chat__font-color_section-hover: var(--font-thirdly);
	--im-content-create-chat__font-color_section-heading: var(--font-main);
}
.bx-im-content-create-chat__scope .ui-tag-selector-outer-container {
	background-color: var(--message-container-bg);
	border-color: var(--left-menu-bg);
}
.bx-im-content-create-chat__scope .ui-tag-selector-add-button-caption,
.ui-tag-selector-create-button-caption {
	color: var(--font-secondary);
}
.bx-im-content-create-chat-settings__description {
	background-color: var(--message-container-bg);
	color: var(--font-main);
	border-color: var(--left-menu-bg);
}
.bx-im-content-create-chat__textarea_container textarea {
	background-color: var(--message-input-bg);
	color: var(--font-secondary);
}
.bx-im-content-create-chat-radio__container {
	--im-content-create-chat-radio__font-color_title: var(--font-thirdly);
	--im-content-create-chat-radio__font-color_subtitle: var(--font-secondary);
}
.bx-im-message-default-content__scope {
	--im-message-default-content__font-color_message: var(--font-thirdly);
}
.bx-im-group-chat-promo__container {
	--im-group-chat-promo__background-color_title: var(--font-main);
	--im-group-chat-promo__background-color_content: var(--dark);
	--im-group-chat-promo__background-color_text: var(--font-secondary);
}
.bx-im-dropdown__scope {
	--ui-color-palette-white-base: var(--message-container-bg);
	--ui-field-color-border-default: var(--left-menu-bg);
	--ui-color-palette-black-base: var(--font-thirdly);
}
.bx-im-button__scope {
	--im-button__color_link: var(--font-secondary);
}
.bx-im-message-base__container.--self .bx-im-message-default-content__text {
	--im-message-default-content__font-color_message: var(--font-main);
}
.bx-im-message-default-content__text {
	padding-right: 0;
}

.bx-im-content-chat__textarea_placeholder {
	background-image: var(--system-image);
}
.bx-im-message-status__scope {
	--im-message-status__font-color_date: var(--font-secondary);
	--im-message-status__font-color_edit-mark: var(--font-secondary);
}
.bx-im-message-base__wrap.--self .bx-im-message-quote {
	background-color: var(--message-self-reply-bg);
	--bx-im-message-quote-with-context__border-color: var(--message-self-bg);
}
.bx-im-message-status__icon.--sent {
	filter: brightness(3);
}
.bx-im-base-file-item__content {
	color: var(--grey);
	--im-media-file__font-color_file-size: var(--grey);
}
.bx-im-search-experimental__scope {
	--im-search-experimental__background-color_container: transparent;
}
.bx-im-search-experimental-item__scope {
	--im-search-experimental-item__background-color_container: transparent;
	--im-search-experimental-item__background-color_hover-container: var(--chat-hover);
	--im-search-experimental-item__background-color_highlight: var(--color-label-visited);
}
.bx-im-message-call-invite__scope {
	--im-message-chat-creation__font-color_title: var(--font-main);
	--im-message-chat-creation__font-color_description: var(--font-secondary);
}
.bx-im-mention-item__scope {
	--im-mention-item__background-color_container: transparent;
	--im-mention-item__background-color_hover-container: var(--chat-hover);
}
.bx-im-mention.--highlight {
	--ui-color-design-tinted-warning-bg: var(--color-button-primary-back);
}
.bx-im-base-file-item__scope {
	--im-media-file__color_file-name: var(--font-secondary);
}
.bx-im-base-file-item__download-icon {
	filter: brightness(3);
}
.bx-im-settings-section-list__container {
	--im-settings-section-list__background-color_content: var(--main-bg);
	--im-settings-section-list__font-color_text: var(--font-main);
	--im-settings-section-list__background-color_active: var(--chat-enabled);
	--im-settings-section-list__background-color_hover: var(--chat-hover);
	--im-settings-section-list__font-color_icon: var(--font-secondary);
	--im-settings-section-list__font-color_icon-hover: var(--font-highlighted);
}
.bx-im-content-settings__container {
	--im-content-settings__background-color_border: var(--left-menu-bg);
}
.bx-im-settings-section-content__container {
	--im-settings-section-content__background-color_header: var(--main-bg);
	--im-settings-section-content__background-color_icon: var(--font-main);
	--im-settings-section-content__font-color_header: var(--font-main);
	--im-settings-section-content__background-color_body-background: var(--left-menu-bg);
	--im-settings-section-content__background-color_body: var(--main-bg);
	--im-settings-section-content__font-color_block-header: var(--font-secondary);
	--im-settings-section_content__font-color_label: var(--font-secondary);
}
.bx-im-settings-appearance__demo-chat_container {
	background-color: var(--message-container-bg) !important;
	background-size: auto, 0 !important;
	background-blend-mode: soft-light;
}
.bx-im-settings-background__container {
	--im-settings-background__background-color_selected: var(--font-highlighted);
	--im-settings-background__font-color_title: var(--font-main);
}

.bx-im-settings-expert-notifications__container {
	--im-settings-expert-notifications__background-color_border: var(--chat-hover);
	--im-settings-expert-notifications__background-color_column-highlight: var(--chat-hover);
	--im-settings-expert-notifications__font-color_header-type: var(--font-thirdly);
	--im-settings-expert-notifications__font-color_item-title: var(--font-thirdly);
}
.bx-im-settings-radio__label_title {
	color: var(--font-main);
}
.bx-im-settings-radio__label_subtitle {
	color: var(--font-secondary);
}
.bx-im-settings-section-content__header_icon {
	opacity: 0.7;
}
.bx-im-search-input__scope {
	--im-search-input__background-color_input-active: var(--search-bg);
	--im-search-input__border-color_active-input: var(--message-self-bg);
}
.bx-im-message-search-item__scope {
	--im-sidebar-message-search-detail__background-color_item: var(--message-bg);
	--im-sidebar-message-search-detail__color_message-text: var(--font-main);
	--im-sidebar-message-search-detail__color_highlight: var(--main-bg);
	--im-sidebar-message-search-detail__background-color_highlight: var(--color-label-visited);
}
.bx-im-message-quote {
	background-color: var(--chat-hover);
	--bx-im-message-quote__color: var(--font-secondary);
	--bx-im-message-quote-with-context__border-color: var(--message-pinned-border-bg);
	padding-right: 0.6em;
	border-radius: 5px;
}
.bx-im-message-base__container.--self .bx-im-message-quote {
	background-color: var(--message-self-reply-bg);
	--bx-im-message-quote__color: var(--font-thirdly);
	--bx-im-message-quote-with-context__border-color: var(--dark-alpha);
	padding-right: 0.6em;
	border-radius: 5px;
}
.bx-im-message-quote__wrap::before {
	left: 3px;
	top: 3px;
	height: calc(100% - 6px);
}
.bx-im-chat-info-content__buttons-container {
	--im-chat-info-content__separator-color: var(--font-secondary);
}
.bx-im-content-notification__header-container {
	background-color: var(--main-bg);
}
.bx-im-list-recent-item__wrap.--selected .bx-im-list-recent-item__counter_number {
	--im-color-palette-white-base: var(--message-container-bg);
}
.bx-im-list-recent-item__counter_number {
	--im-list-recent__background-color_counter: var(--tag-secondary-bg);
	--im-list-recent__font-color_counter: var(--tag-secondary-color);
}
.bx-im-list-recent-item__counter_number.--muted {
	--im-list-recent__background-color_muted: var(--tag-light-bg);
	--im-list-recent__font-color_counter: var(--tag-light-color);
}

.bx-im-scroll-with-gradient__gradient {
	background: linear-gradient(
			180deg,
			var(--left-menu-bg) 10.58%,
			rgb(255 255 255 / 0.01%) 98.3%
	);
}
.bx-im-mention-content-footer__scope {
	--im-mention-content-footer__background-color_container: transparent;
	--im-mention-content-footer__color_control-description: var(--font-secondary);
	--im-mention-content-footer__color_control-key: var(--font-main);
}
.bx-im-dialog-chat__scope {
	--im-dialog-chat__background-color_new-message: var(--new-messages-delimiter-bg);
	--im-dialog-chat__font-color_new-message: var(--font-main);
	--im-dialog-chat__background-color_pinned: var(--message-pinned-bg);
	--im-dialog-chat__background-color_pinned-separator: var(--message-pinned-border-bg);
	--im-dialog-chat__font-color_pinned-title: var(--font-highlighted);
	--im-dialog-chat__font-color_pinned-author: var(--font-secondary);
	--im-dialog-chat__font-color_pinned-text: var(--font-main);
	--im-dialog-chat__background-color_scroll-button: var(--chat-enabled);
	--im-dialog-chat__background-color_scroll-button-counter: var(--message-self-reply-bg);
	--im-dialog-chat__background-color_scroll-button-counter-hover: var(--message-self-bg);
	--im-dialog-chat__background-color_scroll-button-border: var(--new-chat-button-bg);
}
.bx-im-chat-header-call-button__scope {
	--im-chat-header-call-button__background-color_container: var(--video-button-bg);
	--im-chat-header-call-button__background-color_container-hover: var(--video-button-bg-hover);
}
.bx-im-link-item__scope {
	--im-link-item__background-color_item-container: var(--message-bg);
	--im-link-item__background-color_common-container: var(--chat-hover);
}
.bx-im-message-image__container {
	--bx-im-media-image__background-color_container: var(--chat-hover);
}
.bx-im-content-chat__dialog_container *:hover::-webkit-scrollbar-thumb {
	background-color: var(--chat-hover) !important;
}
.bx-im-list-recent__calls_container {
	--im-list-recent-calls__background-color: var(--video-button-bg);
}
.bx-im-sidebar-panel__container {
	--im-sidebar-panel__background-color_panel_container: var(--sidebar-bg);
}
.bx-im-sidebar-main-panel__container {
	--im-sidebar-main-panel__background-color_container: var(--sidebar-bg);
	--im-sidebar-main-panel__background-color_block: var(--main-bg);
}
.bx-im-sidebar-detail-header__scope {
	--im-sidebar-detail-header__border-color_separator: var(--left-menu-bg);
	background-color: var(--main-bg);
	color: var(--font-main);
}
.bx-im-sidebar-detail-tabs__scope {
	--im-sidebar-detail-tabs__background_right-control: linear-gradient(270deg, var(--dark) 0%, var(--dark) 50.28%, rgba(255, 255, 255, 0) 100%);
	--im-sidebar-detail-tabs__background_left-control: linear-gradient(90deg, var(--dark) 0%, var(--dark) 50.28%, rgba(255, 255, 255, 0) 100%);
	--im-sidebar-detail-tabs__color_selected-tab: var(--font-main);
	--im-sidebar-detail-tabs__color_nonselected-tab: var(--font-secondary);
	--im-sidebar-detail-tabs__border-bottom-color_container: var(--darkest);
	--im-sidebar-detail-tabs__background-color_selected-tab: var(--message-self-bg);
}
.bx-im-sidebar-file-media-detail-item__scope {
	--im-sidebar-file-media-item__border-color_avatar-container: var(--message-self-reply-bg);
}
.bx-im-sidebar__forward-icon {
	filter: invert();
}
.bx-im-sidebar-header__scope {
	--im-sidebar-header__background-color_container: var(--main-bg);
	--im-sidebar-header__background-color_left-border: var(--main-bg);
}
.bx-im-sidebar-search-header__scope {
	--im-sidebar-search-header__border-color_separator: var(--sidebar-bg);
	background-color: var(--main-bg);
}
.bx-im-chat-with-user-item__scope {
	--im-chat-with-user-item__background-color_container: var(--main-bg);
	--im-chat-with-user-item__background-color_hover-container: var(--chat-hover);
}
.bx-im-entity-selector-forward__scope {
	--im-entity-selector-forward__color_popup-title: var(--font-main);
}
.bx-im-entity-selector-forward__container {
	background-color: var(--main-bg);
}
.bx-im-toggle__disabled {
	background-color: var(--left-menu-bg);
}
.bx-im-toggle__cursor {
	background-color: var(--message-self-bg);
}
.bx-im-list-recent__calls_container.--with-shadow::after {
	background: linear-gradient(178.92deg, var(--chat-hover) 0%, var(--chat-hover) 50.28%, rgba(66, 74, 84, 0) 100%);
}
.bx-im-dialog-channel__comments-button {
	--im-dialog-channel-comments-button__background-color: var(--message-self-reply-bg);
	--im-dialog-channel-comments-button__background-color_counter-border: var(--message-self-bg);
}
.bx-im-upload-preview__scope {
	--im-upload-preview__color_title: var(--font-main);
	--im-upload-preview__border-color_delimeter: var(--chat-picked);
	--im-upload-preview__border-color_message-input: var(--message-input-border-bg);
}
.bx-im-upload-preview__message-text {
	background-color: var(--message-input-bg);

}
.bx-im-upload-preview-file-item__item-image {
	background-color: var(--main-bg);
}
.bx-im-upload-preview-file-item__name {
	color: var(--font-main);
}
.bx-im-upload-preview-file-item__size {
	color: var(--font-secondary);
}
.bx-im-upload-preview-file-item__remove-icon {
	filter: brightness(3);
}

.bx-im-elements-media-gallery-image-item__container {
	--bx-im-gallery-item__background-color_container: var(--message-container-bg);
}

.bx-im-desktop-connection-list-item__scope {
	--im-desktop-connection-list-item__background-color_container-hover: var(--chat-hover);
	--im-desktop-connection-list-item__color_title: var(--font-thirdly);
	--im-desktop-connection-list-item__color_login: var(--font-secondary);
}

.popup-window {
	background-color: var(--message-bg);
	color: var(--font-main);
}
.popup-window .menu-popup-item-text {
	color: var(--font-main);
}
.popup-window :is(.menu-popup-item:hover, .menu-popup-item.menu-popup-item-open) {
	background-color: var(--message-self-bg);
}
.popup-window .popup-window-angly--arrow {
	background-color: var(--message-bg);
}
.popup-window .ui-selector-item-title {
	color: var(--font-main);
}
.popup-window .ui-selector-item-box-focused > .ui-selector-item,
.popup-window .ui-selector-item-box-focused .ui-selector-item-link {
	background-color: var(--left-menu-bg);
}
.popup-window .ui-selector-item-box-selected > .ui-selector-item {
	background-color: var(--darker);
}
.popup-window .ui-selector-footer-default {
	background-color: var(--message-container-bg);
}
.popup-window .ui-selector-footer .ui-selector-footer-link {
	color: var(--font-secondary);
}
.popup-window .ui-selector-footer .ui-selector-footer-link:hover {
	color: var(--font-main);
}
.popup-window .menu-popup-item:hover .menu-popup-item-text {
	color: var(--font-main);
}
.popup-window .ui-btn-link {
	--ui-btn-color: var(--font-secondary);
	--ui-btn-color-hover: var(--font-thirdly);
}

.bx-im-messenger__scope .ui-tag-selector-text-box {
	background-color: var(--message-input-bg);
}

/*channels*/
.bx-im-list-container-channel__container {
	--im-list-container-channel__background-color: var(--main-bg);
	--im-list-container-channel__font-color_header-title: var(--font-main);
}
.bx-im-list-channel__container {
	--im-list-channel__background-color: var(--main-bg);
}
.bx-im-list-channel-item__wrap {
	--im-list-channel-item__background-color: transparent;
	--im-list-channel-item__background-color_hover: var(--chat-hover);
	--im-list-channel__background-color_selected: var(--chat-enabled);
}
.bx-im-comment-header__container {
	--im-comment-header__font-color_title: var(--font-main);
	--im-comment-header__font-color_subtitle: var(--font-secondary);
}
.bx-im-comments-header-follow__container {
	--im-comments-header-follow__background-color_border: var(--main-bg);
	--im-comments-header-follow__font-color: var(--font-secondary);
}
.bx-im-comment-header__back {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.861 17.657l-4.527-4.527L10.2 12l1.134-1.129 4.527-4.527-1.597-1.597L7.01 12l7.254 7.254 1.597-1.598z' fill='%23818688'/%3E%3C/svg%3E")
}
.bx-im-content-chat-start__container,
.bx-im-content-copilot-empty-state__container,
.bx-im-content-collab-start__container,
.bx-imol-content-openlines-start__container,
.bx-im-task-start__container {
	background-color: var(--left-menu-bg) !important;
	background-size: auto, 0 !important;
}
.bx-im-message-comments-panel__container {
	--im-message-comments-panel__background-color_container: var(--left-menu-bg);
	--im-message-comments-panel__background-color_container-hover: var(--left-menu-hover-bg);
}

/*copilot*/
.bx-im-list-copilot__scope {
	--im-list-copilot__background-color: var(--darker);
	--im-list-copilot__background-color_pinned-section: var(--dark);
	--im-list-copilot__background-color_pinned-section-border: var(--darkest)
}
.bx-im-content-copilot-empty-state__container {
	background-color: var(--darker) !important;
}
.bx-im-list-copilot__pinned_container .bx-im-list-copilot-item__wrap {
	--im-list-copilot-item__background-color_wrap-hover: var(--darker)
}
.bx-im-list-container-copilot__scope {
	--im-list-container-copilot__background-color: var(--darker);
	--im-list-container-copilot__font-color_header-title: var(--light);
}
.bx-im-content-copilot__container {
	background-color: var(--left-menu-bg) !important;
	background-size: auto, 0 !important;
}
.bx-im-copilot-header__container {
	background-color: var(--dark);
}
.bx-im-list-copilot-item__wrap {
	--im-list-copilot-item__background-color_wrap: var(--darker);
	--im-list-copilot-item__background-color_wrap-hover: var(--dark);
}
.bx-im-message-copilot-creation__container {
	--im-message-copilot-creation__background-color_action-hover: var(--color-button-primary-back);
	--im-message-copilot-creation__font-color_text-hover: var(--light);
	--im-message-copilot-creation__background-color_action-border: var(--color-button-primary-border)
}
.bx-im-message-conference-creation__scope {
	--im-message-conference-creation__background-color_content: var(--dark);
	--im-message-conference-creation__font-color_title: var(--font-main);
	--im-message-conference-creation__font-color_description: var(--font-thirdly);
}
.bx-im-message-copilot-base-message__container {
	--im-message-copilot-answer__background-color_body: var(--dark);
	--im-message-copilot-answer__background-color_bottom-panel: var(--darker);
}

.bx-im-message-channel-creation__container {
	--im-message-channe-creation__background-color_content: var(--color-button-primary-back);
	--im-message-channe-creation__font-color_title: var(--light);
	--im-message-channe-creation__font-color_description: var(--font-thirdly);
}
.bx-im-message-chat-creation__container {
	--im-message-chat-creation__background-color_content: var(--color-button-primary-back);
	--im-message-chat-creation__font-color_title: var(--light);
	--im-message-chat-creation__font-color_description: var(--font-thirdly);
}

/*openlines*/

.bx-imol-list-container-recent__container {
	--imol-list-container-recent__background-color: var(--main-bg);
	--imol-list-container-recent__color: var(--font-main);
}
.bx-imol-list-recent__item {
	--imol-list-recent-item__background-color_hover: var(--chat-hover);
	--imol-list-recent__background-color_selected: var(--chat-enabled);
}
.bx-imol-textarea_join-panel-container {
	--imol-textarea__background-color_panel-dark: var(--gradient-dark);
	--imol-textarea__background-color_panel-light: var(--gradient-light);
}

/*old lines*/
.bx-messenger-image .bx-messenger-box-contact,
.bx-messenger-image .bx-messenger-box-hello,
.bx-messenger-image .bx-messenger-box-dialog,
.bx-messenger-search,
.bx-messenger-box-dialog .bx-messenger-panel {
	background-color: var(--darker);
}
.bx-messenger-image .bx-messenger-box-extra {
	background-color: var(--darker);
}
.bx-messenger-cl-item-empty {
	color: var(--grey);
}
.bx-messenger-recent-category-title-answered {
	color: var(--green) !important;
	text-shadow: none;
}
.bx-messenger-recent-category-title-answered:after {
	background-color: var(--green);
}
.bx-messenger-recent-group-title,
.bx-messenger-chat-title-lines,
.bx-messenger-panel-chat-user {
	color: var(--grey);
	text-shadow: none;
}
.bx-messenger-cl-item:hover {
	background-color: var(--dark);
}
.bx-messenger-cl-user {
	color: var(--light);
}
.bx-messenger-cl-search-wrap .bx-messenger-input {
	color: var(--light);
}
.bx-messenger-image .bx-messenger-body-bg {
	background-image: none;
	background-color: var(--dark);
}
.bx-messenger-content-item-content, .bx-messenger-content-item-ol-output .bx-messenger-content-item-content {
	background-color: var(--darker);
	border-color: var(--darkest);
}
.bx-messenger-content-item .bx-messenger-content-item-content {
	color: var(--grey);
}
.bx-messenger-image .bx-messenger-content-item-avatar-name {
	background-color: var(--darker);
	color: var(--grey);
}
.bx-messenger-image .bx-messenger-textarea-place {
	background-color: var(--darkest);
}
.bx-messenger-image .bx-messenger-content-item-notice .bx-messenger-content-item-content {
	background-image: var(--system-image);
}
.bx-messenger-content-item-1 .bx-messenger-content-item-content {
	background-color: var(--color-button-primary-back);
	border-color: transparent;
	color: var(--light);
}
.bx-messenger-image .bx-messenger-content-item-notify .bx-messenger-content-item-text-message {
	background-color: var(--dark-alpha);
	color: var(--grey);
}
.bx-messenger-content-item-notice a, .bx-messenger-content-item-notice .bx-messenger-highlight, .bx-messenger-content-item-notice .bx-messenger-ajax {
	color: var(--link-color);
	border-color: var(--color-button-primary-border);
}
.bx-messenger-ajax-self, .bx-messenger-highlight {
	background-color: var(--color-button-primary-back);
	border-color: var(--color-button-primary-border);
	color: var(--color-button-primary-text)
}
.bx-messenger-image .bx-messenger-content-item-notice .bx-messenger-content-item-text-center {
	color: var(--grey);
}
.bx-messenger-message a {
	color: var(--color-link);
}
.bx-im-search-item {
	--im-search-background-color: transparent;
}
.bx-im-component-chat-name-text {
	--im-chat-title-color: var(--light);
}
.bx-im-search-result-item-text {
	--im-search-font-color: var(--grey);
}

.bx-messenger-history {
	background-color: var(--dark)
}
.bx-messenger-panel-title {
	color: var(--light);
	text-shadow: none;
}
.bx-messenger-history-item-3 .bx-messenger-history-item-name, .bx-messenger-history-item-date {
	color: var(--grey)
}
.bx-messenger-history-item-text {
	color: var(--light)
}
.bx-messenger-history-item-text a, .bx-messenger-history-items-wrap .bx-messenger-content-item-system a {
	color: var(--color-link)
}
.bx-messenger-history-item-2, .bx-messenger-history-item-3 {
	background-color: var(--darker);
	border-color: var(--darker);
}
.bx-messenger-attach-block-row,
.bx-messenger-content-item-system .bx-messenger-ajax-self, .bx-messenger-content-quote-wrap {
	color: var(--grey)
}
.bx-messenger-content-item-system {
	opacity: .5;
}
.bx-messenger-attach-user .bx-messenger-attach-user-name {
	color: var(--light) !important;
}

.bx-im-message-sign__scope {
	--im-message-sign__font-color_title: var(--font-main);
	--im-message-sign__font-color_description: var(--font-thirdly);
	--im-message-sign__color_document: var(--color-label-main);
	--im-message-sign__border-color_link: var(--color-link);
	--im-message-sign__background-color_self: var(--message-self-bg);
}

.bx-im-message-copilot-added-users__container {
	--im-message-copilot-added-users__background-color_content: var(--dark);
	--im-message-copilot-added-users__color_title: var(--font-main);
	--im-message-copilot-added-users__font-color_description: var(--font-secondary);
}
.bx-call-message__scope {
	--call-message__text_primary-color: var(--font-main);
	--call-message__font-color_date: var(--font-secondary);
}
.bx-call-message__icon {
	border-color: var(--font-secondary);
}

.bx-im-list-recent-active-call__actions_item.--another-device .bx-im-button__container {
	color: var(--color-label-visited) !important;
}


/** conference **/
.bx-im-message-type-opponent .bx-im-message-content {
	background-color: var(--message-bg);
}
.bx-im-message-content {
	background-color: var(--message-self-bg);
	color: var(--font-main);
}
.bx-im-message-content a {
	color: var(--link-color);
}
.bx-im-element-attach-type-rich {
	background-color: transparent;
	border-color: var(--message-container-bg);
}
.bx-im-element-attach-type-rich-name {
	color: var(--font-main);
}

/*collabs*/
.bx-im-content-collab-start__container {
	--im-content-collab_start__font-color_title: var(--font-main);
	--im-content-collab_start__font-color_block-title: var(--font-thirdly);
	--im-content-collab_start__font-color_block-subtitle: var(--font-secondary);
}
.bx-im-list-container-collab__container {
	--im-list-container-collab__background-color: var(--main-bg);
	--im-list-container-collab__font-color_header-title: var(--font-main);
}
.bx-im-list-collab__container {
	--im-list-collab__background-color: transparent;
}
.bx-im-create-chat-menu-description-banner__container {
	--im-create-chat-menu-description-banner__background-color_content: var(--message-self-bg);
}
.bx-im-create-chat-menu-item__button {
	--im-create-chat-menu-item__button-background-color_copilot: var(--video-button-bg);
}
.bx-im-create-chat-menu-item__icon-more {
	filter: brightness(4);
	opacity: 0.6;
}
.bx-im-collab-header__links-container {
	--im-collab-header__background-color_links-border: var(--left-menu-bg);
	--im-collab-header__background-color_links-separator: var(--left-menu-bg);
	--im-collab-header__font-color_link: var(--font-thirdly);
}



.bx-im-content-chat-forms__container {
	--bx-im-content-chat-forms__background-color_container: var(--message-container-bg);
}
.bx-im-chat-forms-button-panel__container {
	--im-chat-forms-button-panel__background-color_container: var(--main-bg);
}
.bx-im-chat-forms-title-input__container {
	--im-chat-forms-title-input__font-color_input: var(--font-main);
}

/*votes*/
.bx-im-chat__vote-container,
.bx-im-message-base__wrap.--self .bx-im-chat__vote-container {
	background-color: var(--new-chat-button-bg);
}
.vote__question-text,
.vote__answer-percent span,
.vote__answer-percent,
.vote__answer-text {
	color: var(--font-main);
}
.vote__answer.--selected .vote__answer:hover, .vote__answers.--voted .vote__progress-bar:hover {
	background-color: var(--reaction-bg);
}
.vote__answer.--selected .vote__answer-percent span {
	color: var(--color-label-main);
}
.vote__answer.--selected .vote__answer-text,
.vote__notice {
	color: var(--font-thirdly);
}
.vote-display-btn {
	color: var(--font-side-main);
}
.vote-display-btn.--show {
	color: var(--link-color);
}
.vote-display-btn.--vote {
	background-color: var(--button-back-color);
}
.vote-display-btn.--vote.--active,
.bx-im-message-base__wrap.--self .vote-display-btn.--vote.--active
{
	background-color: var(--color-button-primary-back);
}
.vote-display-btn.--vote.--active:hover,
.bx-im-message-base__wrap.--self .vote-display-btn.--vote.--active:hover
{
	background-color: var(--color-button-primary-back-hover);
}
.vote__progress-bar,
.bx-im-message-base__wrap.--self .vote__progress-bar {
	background-color: var(--message-self-bg);
}
.vote__progress-bar:hover,
.bx-im-message-base__wrap.--self .vote__progress-bar:hover,
.bx-im-message-base__wrap.--self .vote__progress-bar-fill {
	background-color: var(--message-self-reply-bg);
}
.vote__progress-bar-fill {
	background-color: var(--color-button-primary-back-hover);
}
.vote__answer.--selected .vote__progress-bar-fill,
.bx-im-message-base__wrap.--self .vote__answer.--selected .vote__progress-bar-fill {
	background-color: var(--reaction-bg);
}

.bx-im-embedded-chat-start__container {
	--im-embedded-chat-start__background-color_content: var(--message-container-bg);
	--im-embedded-chat-start__font-color_title: var(--font-main);
}


.main-buttons.--air .main-buttons-item-active::before {
	--ui-color-design-selection-bg: var(--chat-hover);
}
.ui-popupcomponentmaker__content--section-item {
	background-color: var(--main-bg);
	--ui-color-base-1: var(--font-main);
}


.bx-im-content-bulk-actions-panel {
	--im-content-bulk-actions-panel__background-color_panel: var(--message-bg);
	--im-content-bulk-actions-panel__color_counter-name: var(--font-main);
}

/**new popup menu**/
.ui-popup-menu-item-title-text {
	color: var(--font-main);
}
.ui-popup-menu-section-divider {
	--ui-color-divider-default: var(--font-secondary);
}

.bx-im-audio-player__transcription-container {
	--im-audio-player__color_transcription-default_text: var(--font-secondary);
}
.bx-im-audio-player__scope {
	--im-audio-player__background-color_transcription-button: var(--chat-hover);
	--im-audio-player__background-color_transcription-button_hover: var(--chat-picked);
}
.bx-im-audio-player__rate-button-container button {
	filter: brightness(2);
}

.bx-im-task-start__container {
	--im-task-start__font-color_title: var(--font-main);
	--im-task-start__font-color_feature: var(--font-secondary);
	--im-embedded-promo-start__font-color_feature: var(--font-secondary);
}
.bx-im-list-task__container {
	--im-list-task__background-color_pinned-section: var(--chat-picked);
	--im-list-task__background-color_pinned-section-border: transparent;
	--im-list-task__background-color_pinned-item: transparent;
	--im-list-task__background-color_pinned-item_hover: var(--chat-hover);
}

.bx-im-content-notification__elements {
	--im-color-palette-white-base-rgb: var(--dark-alpha);
	background-color: transparent !important;
	background-image: none !important;
}

.bx-im-message-status__container {
	--im-message-status__font-color_status: var(--font-secondary);
}

.bx-im-content-notification-item-confirm-buttons__container,
.bx-im-content-notification-quick-answer__container {
	--ui-color-design-outline-na-bg: #ffffff0a;
	--ui-color-design-outline-na-stroke: #ffffff11;
	--ui-color-design-outline-na-content: var(--font-thirdly);
}

.bx-im-message-ai-assistant-base-message__container {
	--im-message-ai-assistant-answer__background-color_bottom-panel: var(--dark-alpha);
	--im-message-ai-assistant-answer__color_warning: var(--font-main);
}

.bx-im-keyboard__container {
	--im-keyboard__background-color-white: var(--color-button-primary-back-a);
	--im-keyboard__font-color-base: var(--font-secondary);
	--im-keyboard__font-color: var(--font-main);
}

.reactions-select-popover {
	--ui-color-bg-content-primary: var(--darker);
}
.reactions-select__expand-button {
	--ui-color: var(--dark);
}

.bx-im-emote-popup__container {
	--im-emote-selector__background-color: var(--dark-alpha);
	--im-emote-selector__background-tab-color: var(--main-bg);
	--im-emote-selector__background-tab-border-color: var(--left-menu-bg);
}

.ui-chip {
	--background: var(--new-chat-button-bg);
}
.ui-chip.--filled,
.ui-chip.--outline {
	--text-color: var(--font-thirdly);
	--text-color-hover: var(--font-main);
}
.ui-chip.--outline {
	--border-color: var(--new-chat-button-bg);
}
.ui-chip.--filled {
	--background: var(--video-button-bg);
	--border-color: var(--video-button-bg-hover);
}